{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Items</h1>
    <ul>

        {% for egg in eggs %}
        <li>
        <img src="{{ egg.image }}">
        {% endfor %}
        </li>
        <hr>
        {% for egggold in eggsgold %}
        <img src="{{ egggold.image }}">
        {% endfor %}
    </ul>
{% endblock %}
