body {
    background-image: url("../../images/bgsuccess.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bgsuccess {
    position: relative;
    padding-top: 5em;
    margin-left: 20em;

    z-index: 0;
}

.textsuccess {

    border-radius: 15px;
    z-index: 1;
    background-color: rgba(255,255,250,0.5);
}

.left {
    position: absolute;
    background-attachment: top;
    margin-left: 3em;
    margin-top: 10em;

}

.right {
    position: absolute;
    background-attachment: top;
    margin-left: 55em;
}

h1 {
    font-size: 6.5em;
}

h2 {
    font-size: 4.5em;
}