{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}
{% block content %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <img class="fall fixed-top"src="/assets/images/alice-falling-png-line-art.gif">
            </div>
        <div class="col-md-10 rules text-center">
            <h1>Malice In Wonderland</h1>
            <h2>Rules :</h2>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fas fa-candy-cane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>

        </div>

    </div>
    </section>
{% endblock %}
