{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}
{% block content %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <img id="fall" class="fixed-top" src="/assets/images/alice-falling-png-line-art.gif">
            </div>
        <div class="col-md-10 rules text-center">
            <h1>Malice In Wonderland</h1>
            <h2>Rules :</h2>
            <p><i class="fas fa-candy-cane"></i> Don't talk about Fight Club</p>
            <p><i class="fas fa-candy-cane"></i> Get the three winning eggs to win</p>
            <p><i class="fas fa-candy-cane"></i> Walk across the labyrinth to find them</p>
            <p><i class="fas fa-candy-cane"></i> Don't trust cakes, the cake is a lie</p>
            <p><i class="fas fa-candy-cane"></i> Grab a teapot, it will be 3 minutes long</p>
            <p><i class="fas fa-candy-cane"></i> Enjoy your adventure</p>
            <a href="../Enter/enter"><button class="btn btn-light"><i class="fas fa-play"></i> PLAY</button></a>
            <p class="footer"><br/>Made with <span class="footer2"><i class="fas fa-heart"></i></span> by Jicé i réfléchit, Pandora, Caillou, Vincere & Maiew</p>
        </div>
    </section>
{% endblock %}
