{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/page1-2.css">
{% endblock %}

{%  block content %}

    <section class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title">Choices have consequences</h1>
            </div>
        </div>
    </section>

{% endblock %}