{% extends 'layout.html.twig' %}
{% block stylesheet %}
{% include '_navbar.html.twig' %}
<link rel="stylesheet" href="/assets/css/page1-2.css">
{% endblock %}

{%  block content %}

    <section class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title">Choices have consequences</h1>
            </div>
            <div class="col-md-12 text-center picto">
                <a><img src="/assets/images/16732.png"></a>
                <br/>
                <br/>
                <a><img src="/assets/images/67822.png"></a>
                <br/>
                <br/>
                <a><img src="/assets/images/Cinema-Horror-icon.png"></a>
                <br/>
                <br/>
                <a><img src="/assets/images/295452.png"></a>
                <br/>
                <br/>
                <a><img src="/assets/images/sticker pied bebe SCB28.png"></a>
            </div>
        </div>
    </section>

{% endblock %}