{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/place22.css">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="arrows">
            <a href="#"><i class="fas fa-sort-up arrowUp1"></i></a>
            <a href="#"><i class="fas fa-sort-up arrowUp2"></i></a>
        </div>
        <div>
            <a href="#"><i class="fas fa-sort-down arrowDown"></i></a>
        </div>
    </div>

{% endblock content%}