{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/test.css">
{% endblock %}

{% block content %}
<div class="wrapper">
    </div>
{% endblock %}

{% block javascript %}
<script src="/assets/main.js"></script>
{% endblock %}