{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/page/gameOver.css">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="over">Game Over</h1>
        <a href="restart"><button>Restart</button></a>
    </div>
{% endblock %}