{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/page/cheater.css">{% endblock %}
{% block content %}
    <div class="row">
        <div class="offset-3 col-6 text-center block-cheat">
            <h2>Hey ! That's cheating !</h2>
            <p>Okay, do it for this time... But only losers cheat !</p>
        </div>
    </div>
{% endblock %}