{% extends 'layout.html.twig' %}
{#parameters to egg or egggold : id, name, color, caliber, farming, country, rarity, image, power#}

{% block content %}
    <h1>Eggs</h1>
    {% for egg in eggs %}
        <img src="{{ egg.image }}">
    {% endfor %}
    <h1>EggsGolds</h1>
    {% for egggold in eggsgold %}
        <img src="{{ egggold.image }}">
    {% endfor %}
    <h1>Places with Eggs</h1>
    {% for key, placewitheggs in placeswitheggs %}
        {{ key }}: {{ placewitheggs.id }}<br>
    {% endfor %}


{% endblock %}