{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/page/modal.css"

{% endblock %}

{% include '_navbar.html.twig' %}

<div id="frame">
    <div id="border">
        <img src="http://www.notshaw.com/raindropskeepfalling/wp-content/gallery/drawings-2013/2013-08-06-14-38-35.jpg" alt="Drawing">
    </div><!-- #border -->
</div><!-- #frame -->