{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/page/page1-1.css" >{% endblock %}
{% block content %}
    {% include '_navbar.html.twig' %}

    <div class="choice container-fluid">
        <div class="row justify-content-center">
            <div class="choose col-5 pt-5">
                <h2>
                    <div class="title">
                        <span>C</span>
                        <span>h</span>
                        <span>o</span>
                        <span>o</span>
                        <span>s</span>
                        <span>e</span>
                    </div>
                    <div class="title">
                        <span>t</span>
                        <span>h</span>
                        <span>e</span>
                    </div>
                    <div class="title">
                        <span>w</span>
                        <span>a</span>
                        <span>y</span>
                    </div>
                </h2>
            </div>
        </div>
        <div><a href="#"><p class="left">left</p></a></div>
        <div><a href="#"><p class="right">right</p></a></div>
        <div class="signs row justify-content-center">
            <div class="sign col-4 ">
                <img src="/assets/images/sign2.png" width="200" height="185">
                <img src="/assets/images/sign.png" width="200" height="185">
            </div>
        </div>

{% endblock %}