{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/page/page1-2.css">
{% endblock %}

{%  block content %}
    {% include '_navbar.html.twig' %}

    <section class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title">Choices have consequences</h1>
            </div>
            <div class="col-md-12 text-center picto">
                <a href="../Page/modal2"><img src="/assets/images/16732.png"></a>
                <br/>
                <br/>
                <a href="../Page/nul"><img src="/assets/images/67822.png"></a>
                <br/>
                <br/>
                <a href="../Page/enter"><img src="/assets/images/Cinema-Horror-icon.png"></a>
                <br/>
                <br/>
                <a href="../Page/modal4"><img src="/assets/images/295452.png"></a>
                <br/>
                <br/>
                <a href="../Page/modal5"><img src="/assets/images/sticker pied bebe SCB28.png"></a>
            </div>
        </div>
    </section>

{% endblock %}