{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/page/page2-4.css">
{% endblock %}

{%  block content %}
    {% include '_navbar.html.twig' %}

    <div class="container-fluid">
        <a href="../Page/modal5"><img src="/assets/images/niceQueen.png" alt="niceQueen" class="queens nice"></a>
        <a href="../Page/page21"><img src="/assets/images/meanQueen.png" alt="meanQueen" class="queens mean"></a>

        <h1>Which Queen do you follow?</h1>

        <a href="../Page/modal5"><button>BACK</button></a>
    </div>

{%  endblock content %}