{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/page/success.css">{% endblock %}
{% block content %}
    <img class="left" src="/assets/images/rabbitLeft.png">
    <img class="right" src="/assets/images/rabbitRight.png">
    <div class="container justify-content-center"></div>
    <div class="row">
        <div class="bgsuccess">
            <div class="col-md-12 textsuccess text-center">
                <h1>Congratulations !</h1>
                <h2>You managed to get all three eggs !<br/>Here's your prize, just print it !</h2>
            </div>
            <div class="col-md-12 text-center">
                <a href="/assets/Easter/www/index.html"><button class="btn btn-light"><i class="fas fa-play"></i> Final Fight</button></a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}