{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/success.css">{% endblock %}
{% block content %}
    <div class="row">
        <div class="bgsuccess">
            <img src="/assets/images/bgsuccess.jpg">
            <div class="textsuccess offset-3 col-6 justify-center text-center">
                <h1>Congratulations !</h1>
                <p>You managed to get all three eggs ! Here's your prize, just print it !</p>
                <img src="/assets/images/aliceace.jpeg">
            </div>
        </div>
    </div>
{% endblock %}